{% extends 'videodatabase/common.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" media="all">
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function add() {
            window.location.href = '{% url 'add_container' %}';
        }
    </script>
{% endblock style %}
{% block contents %}
    <div class="container">
        <h1 id="title" class="text-center">广告短视频数据库</h1>
    </div>
    <div class="container">
        <h4 class="text-center" style="color: #E75A5A">[ COMMRERCIAL FILM ]</h4>
    </div>
    <div class="container">
        <div col-lg-12></div>
        <div class="col-lg-3 col-xs-3"></div>
        <form action="{% url 'search' %}">
            <div class="input-group col-lg-6 col-md-6 col-sm-6">
                <input type="text" name="video" class="form-control" placeholder="请输入要查询的视频类型"/>
                <span class="input-group-btn">
               <button type="submit" class="btn btn-info btn-search"><span
                       class="glyphicon glyphicon-search"></span></button>
       </span>
            </div>
        </form>
        <div class="container" style="height: 20px;"></div>
        <div class="col-lg-3 col-xs-3"></div>
        <div class="col-lg-3"></div>
        <div class="input-group" id="screen">
            {% load static %}
            <div class="container ">
                <h4 class="title_video" id="title">视频载体：
                    <a href="{% url 'home' %}"> <span
                            style="padding-left:35px; color: #f25c5c;">全部 <span
                            style="font-size: 16px; color: #9B9B9B;">( {{ total_amount }} )</span></span>
                    </a>
                    {% for c in container %}
                        <a href="{% url 'search_container' c.id %}">
                        <span style="padding-left:35px; color: #9B9B9B;">{{ c.name }}<span
                                style="font-size: 16px; color: #9B9B9B;">( {{ c.editedvideo_set.count }} )</span></span></a>
                    {% endfor %}
                    <button class="btn btn-default" style="margin-left: 30px" data-toggle="modal"
                            data-target="#addModal1">添加
                    </button>
                </h4>
            </div>

            <div class="container">
                <h4 class="title_business">业务场景：
                    <a href="{% url 'home' %}">
                    <span style="padding-left:35px; color: #f25c5c;">全部 <span
                            style="font-size: 16px; color: #9B9B9B;">( {{ total_amount }} )</span></span></a>
                    {% for s in scenes %}
                        <a href="{% url 'search_scenes' s.id %}">
                        <span style="padding-left:35px; color: #9B9B9B;">{{ s.name }}<span
                                style="font-size: 16px; color: #9B9B9B;">( {{ s.editedvideo_set.count }} )</span></span></a>
                    {% endfor %}
                    <button class="btn btn-default" style="margin-left: 30px" data-toggle="modal"
                            data-target="#addModal2">添加
                    </button>
                </h4>
            </div>

            <div class="container">
                <h4 class="title_product">
                    产品品类：
                    <a href="{% url 'home' %}">
                    <span style="padding-left:35px; color: #f25c5c;">全部 <span
                            style="font-size: 16px; color: #9B9B9B;">( {{ total_amount }} )</span></span> </a>
                    {% for p in product_category %}
                        <a href="{% url 'search_category' p.id %}">
                        <span style="padding-left:35px; color: #9B9B9B;">{{ p.name }}<span
                                style="font-size: 16px; color: #9B9B9B;">( {{ p.editedvideo_set.count }} )</span></span></a>
                    {% endfor %}
                    <button class="btn btn-default" style="margin-left: 30px" data-toggle="modal"
                            data-target="#addModal3">添加
                    </button>
                </h4>
            </div>
        </div>

        <div class="container" style="padding-top: 30px;">
        </div>
        <div class="col-md-12">
            <div class="row">
                <form method="post" enctype="multipart/form-data">
                    <a href="{% url 'upload' %}">
                        <div class="ssn">
                            <div class="aat col-md-4 col-sm-2 col-xs-2 ">
                                <input type="file" class="aas" id="dead">
                                <div class="text_show">添加视频</div>
                            </div>
                        </div>
                    </a>
                </form>
                {% for video in videos %}
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <a class="aa" href="{% url 'detail' video.id %}" onmouseout='closename("{{ video.id }}")'
                           onmouseover='showname("{{ video.id }}")'>
                            <div class="videodiv" style="position: relative;">
                                <video class="content" id='{{ video.id }}'>
                                    <source id="videoss" src="{{ video.url.url }}" type="video/mp4">
                                </video>
                            </div>
                            <div class="textdivs" name='{{ video.id }}'>
                                {{ video.name }}
                            </div>

                        </a>
                        <div class="row">
                            <div class="col-md-6 span7 text-center">

                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
            <div class="container text-center">
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            {% if videos.has_previous %}
                                <a class="page-link" style="background-color: #333232;color: #808080" href="?page=1">&laquo;
                                    首页</a>
                            {% endif %}
                        </li>
                        <li class="page-item">
                            {% if videos.has_previous %}
                                <a class="page-link" style="background-color: #333232;color: #808080"
                                   href="?page={{ videos.previous_page_number }}">上一页</a>
                            {% endif %}
                        </li>
                        <li class="page-item">
                            {% if videos.has_previous or videos.has_next %}
                                <a class="page-link" style="background-color: #333232;color: #808080"
                                   href="#"> {{ videos.number }}</a>
                            {% endif %}
                        </li>
                        <li class="page-item">
                            {% if videos.has_next %}
                                <a class="page-link" style="background-color:  #333232;color: #808080"
                                   href="?page={{ videos.next_page_number }}">下一页</a>
                            {% endif %}
                        </li>
                        <li class="page-item">
                            {% if videos.has_next %}
                                <a class="btn btn-sample page-link" style="background-color: #333232;color: #808080"
                                   href="?page={{ videos.paginator.num_pages }}">尾页</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addModal1" tabindex="-1" role="dialog" aria-labelledby="addModalLabel1"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">添加视频载体字段</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'add_container' %}" method="post">
                    {% csrf_token %}

                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" name="container_name" id="container_name"
                                   placeholder="字段名称">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addModal2" tabindex="-1" role="dialog" aria-labelledby="addModalLabel2"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">添加业务场景字段</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'add_scenes' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" name="scenes_name" id="scenes_name"
                                   placeholder="字段名称">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addModal3" tabindex="-1" role="dialog" aria-labelledby="addModalLabel3"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">添加产品品类字段</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'add_product_category' %}" method="post">
                    {% csrf_token %}

                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" name="category_name" id="category_name"
                                   placeholder="字段名称">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock contents %}
